# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Dataset (too large for git)
data/raw/
data/bagls/

# Mac system files
.DS_Store

# VS Code
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
